:root {
    --main-bg-color: #2b3142;
    --main-title-color: #d6ad5d;
    --section-title-color: #446e85;
    --section-bg-color: #6e98ae;
    --text-normal-color: #d9d1c7;
    --text-special-color: #d88e6f;
    --button-bg-color: #161c29;
}

body {
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: var(--text-normal-color);
    background-color: var(--main-bg-color);
}

header h1 {
    margin: 1em 0.5em;
    padding: 0.4em;
    font-size: 2em;
    color: var(--main-title-color);
}

main {
    max-width: 80%;
    margin: 0 auto;
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
    padding: 0.1em;
    background-color: var(--section-title-color);
}


.menu-section {
    background-color: var(--section-bg-color);
    margin: 1em auto;
}

.menu-section p{
    text-align: center;
}

.menu-section a {
    background-color: var(--button-bg-color);
    text-decoration: none;
    color: var(--text-normal-color);
    width: 60%;
    margin: 0.2em 0.3em;
    display: inline-block;
}

footer a {
    font-size: 0.7em;
    text-decoration: none;
    background-color: var(--button-bg-color);
    color: var(--text-special-color);
    display: inline-block;
    margin: 0.5em 1em;
    padding: 0.8em;
}
